html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#wrapper{
    padding-bottom: 81px;
    min-height: calc(100% - 81px);
    position: relative;
}

body{
  background-color: #24c59da1;
  font-family: 'Roboto';
  text-decoration: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  height: 100%;
}


footer {


  width: 100%;
  height: 81px;
  bottom: 0;
  left: 0;
  
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
