.input {

    top: 95px;
    right: 100px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 500px;
    padding: 5px;
    border-radius: 50px;
    border-style: none;

}

.button {

    height: 50px;
    margin: auto;
    font-size: 20x;
    font-style:normal;
    font-weight:550;
    border-radius: 50px;
    margin: 1em;
    background-color: #062554;
    color: white;
    border-style: none;
    width: 70px;
}

