.footerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    position: relative;
    background-color: #00498b;
}

@media all and (min-width:1024px) and (max-width:1280px){}
@media all and (min-width:768px) and (max-width:1024px){}
@media all and (min-width:480px) and (max-width:768px){}
@media all and (max-width:480px){}

.div1 img{
    height: 50px;
}
.div1 h3 {
    font-family: 'Roboto';
    color: #24c59c
}

.div2 ul{
    font-family: 'Roboto';
    color: #24c59c;
    list-style: none;
}
.div2 h3{
    font-family: 'Roboto';
    color: #24c59c
}


.div3 img{
    height: 100px;
    width: 160px;
}
.div3 h3{
    font-family: 'Roboto';
    color: #24c59c
}