@media all and (min-width:1024px) and (max-width:1280px){}
@media all and (min-width:768px) and (max-width:1024px){}
@media all and (min-width:480px) and (max-width:768px){}
@media all and (max-width:480px){}

.bodyContainer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap:30px;

}
.tier1{
    background-color: goldenrod;
    padding: 10px;
}

.tier2{
    background-color: grey;
    padding: 10px;
}

.tier3{
    background-color:burlywood;
    padding: 10px;
}
.searchImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-image: url('../Css/banner7.jpg');
    background-size: cover;
    background-position:10px ;
    height: 500px;
    align-items: center;
    margin: 1em;
}

.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00498b;
    border-radius: 10px;
    color:#24c59c;
}

.cardsDisplay{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;


}

