.containerLanding{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}

.video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.textContainer{
    padding: 15px;
    background-color: #004a8b7e;
    color: white;
    display: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: larger;
}

.textContainer img {

    width: 150px;

}
.textContainer p{
    text-align: center;
    font-family: 'Roboto';
}
.parrafo {
    white-space: pre;
}

.landingButton{
    position: relative;
    width: 100px;
    height: 110;
    align-items: center;
    font-size: 20px;
    font-family: Calibri; 
    font-style:normal;
    font-weight:550;
    border-radius: 5px;
    margin: 1em;
    background-color: #062554;
    color: white;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.landingButton:hover{
    background-color: #00498b;
    color: white;
}