.paginado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ff880000;
    font-family: 'Roboto';

  }
.but{
    width: 30px;
    height: 20px;
    font-size: 15px;
    font-family: Calibri; 
    font-style:normal;
    font-weight:550;
    border-radius: 5px;
    margin: 1em;
    background-color: white;
    
    border: 1px solid;
    transition-duration: 0.3s;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    text-align: center;
    vertical-align:bottom;
    position: relative;
    padding: 5px;
    
  }
  .but:hover{
    background-color: #244eda;
    color: white;
  }
  
  .focus{
    background-color: #24c59c;
    color: white;
  }

.buttonPag{
    width: 40px;
    height: 20px;
    font-size: 15px;
    font-family: Calibri; 
    font-style:normal;
    font-weight:550;
    border-radius: 5px;
    margin: 1em;
    background-color: #062554;
    color: black;
    border: 1px solid;
    transition-duration: 0.3s;
    cursor: pointer;
    list-style: none;
    text-align: center;
    top: 50px;
    padding: 5px;
    color: white
  }
  .buttonPag:hover{
    background-color: #00498b;
    color: white;
  }